* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  width: 100%;
  height: 250px;
}

ul {
  list-style-type: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.countries {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}
