@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@500;800&display=swap");

body {
  margin: 0;
  font-family: "Tajawal", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background-color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111827;
}

p {
  line-height: 1.8;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
}

button,
input,
input::placeholder {
  font-family: "Tajawal", sans-serif;
}

article ol div:last-child {
  border-bottom: none;
}
