@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@500;800&display=swap");

body {
  margin: 0;
  font-family: "Tajawal", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background-color: #f1f1f1;
}
